<div class="container">
  <h1>All Our Flats <%= @flats.count %></h1>
  <div class="d-flex justify-content-around">
    <% @flats.each do |flat| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= flat.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= flat.address %></h6>
            <i class="fas fa-users"> <%= flat.number_of_guests %></i>
            <i class="fab fa-btc"> <%= flat.price_per_night %></i>
        </div>
        <div class="card-footer text-muted">
          <%= link_to 'More Info', flat, class: "text-primary"  %>
          <%= link_to 'Edit', edit_flat_path(flat), class: "text-warning" %>
          <%= link_to 'Remove', flats_path, class: "text-danger", method: :delete, data: {confirm: 'Are you sure?'} %>
        </div>
      </div>
    <% end %>
  </div>
</div>

